.about h2 {
  /* Box-model */
  margin-bottom: 1.5rem;
  
  /* Typography */
  font-size: 4rem;
}

.about-img {
  /* Box-model */
  margin-bottom: 3rem;

  img {
    /* Box-model */
    width: 8rem;

    /* Visual */
    border: .4rem double $black1;
    border-radius: 50%;
  }
}

.about p {
  /* Box-model */
  margin-bottom: 2.5rem;

  /* Typography */
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;

  &:last-child {
    /* Box-model */
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
  .about h2 {
    /* Typography */
    font-size: 4.5rem;
  }

  .about-img {
    /* Box-model */
    margin-bottom: 4rem;

    img {
      /* Box-model */
      width: 10rem;
    }
  }

  .about p {
    /* Box-model */
    margin-bottom: 3rem;

    /* Typography */
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  .about .inner {
    /* Box-model */
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 108rem;
    margin: 0 auto;
  }

  .about h2 {
    /* Typography */
    font-size: 7rem;

    /* Box-model */
    margin-bottom: 3rem;
  }

  .about-img img {
    /* Box-model */
    width: 14rem;
  }

  .about p {
    /* Box-model */
    margin-bottom: 3rem;
    
    /* Typography */
    font-size: 2rem;
    text-align: right;
  }
}
