/* contact */

#contact {
  margin: 0 0 100px 0;
}

#contact h2 {
  text-align: center;
  margin: 0 0 100px 0;
}

@media screen and (max-width:550px) {
  #contact h2 {
    margin: 0 0 50px 0;
  }
}

#contact form {
  width: 90%;
  margin: 0 auto;
}

#contact .form-list {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #contact .form-list {
    max-width: 60rem;
  }
}

#contact .form-list li {
  margin-bottom: 3rem;

  &:last-child {
    margin-bottom: 2rem;
  }
}

#contact input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;

  resize: vertical;
  /* Specify textarea resizability */
}

#contact .form-list input[type='text'],
#contact .form-list input[type='email'],
#contact .form-list textarea {
  width: 100%;
  border: 1px solid #666;
  background: #fff;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* appearance:none; */
}

#contact .form-list input[type='text'],
input[type='email'] {
  height: 50px;
}

#contact {
  ::-webkit-input-placeholder {
    /* Edge */
    font-size: 1.4rem;
  }

  ::placeholder {
    font-size: 1.4rem;
  }
}


#contact .submit-btn {
  width: 152px;
  margin: 0 auto;
}

#contact input[type='submit'] {
  border: 2px solid #333;
  color: #333;
  text-align: center;
  padding: 1rem 2rem 1rem 2rem;
  width: 152px;
  margin: 0 auto;
  transition: all .3s;
}

#contact input[type='submit']:hover {
  background: #333;
  color: #fff;
}

#contact .form-list textarea {
  height: 200px;
}
