.concept {
  /* Box-model */
  display: flex;
  justify-content: center;
}

.concept-area section {
  /* Box-model */
  margin-bottom: 5rem;

  &:last-child {
    /* Box-model */
    margin-bottom: 0;
  }
}

.concept-area .concept-img {
  /* Box-model */
  margin-bottom: 2.5rem;

  i {
    /* Typography */
    font-size: 5rem;
  }
}

.concept-area h3 {
  /* Box-model */
  margin-bottom: 2.5rem;

  /* Typography */
  font-size: 2.5rem;
}

.concept-area p {
  line-height: 1.4;
}

@media (min-width: 576px) {
  .concept-area {
    /* Box-model */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;

    section {
      /* Box-model */
      width: 45%;
      margin-bottom: 8rem;
    }
  }
}

@media (min-width: 768px) {
  .concept-area {
    /* Box-model */
    justify-content: space-between;
    max-width: 108rem;

    section {
      /* Box-model */
      width: 30%;
      margin: 0;
    }
  }
}
