/* contact */
.contact form {
  width: 75%;
  margin: 0 auto;
}

.form-list {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}


.form-list li {
  margin-bottom: 2rem;
}

.form-list input,
.form-list textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;

  resize: vertical;
  /* Specify textarea resizability */
}

.form-list input[type='text'],
.form-list input[type='email'],
.form-list textarea {
  width: 100%;
  border: 1px solid #666;
  background: #fff;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* appearance:none; */
}

.form-list input[type='text'],
.form-list input[type='email'] {
  height: 50px;
}

.form-list textarea {
  height: 150px;
}

.form-list {
  ::-webkit-input-placeholder {
    /* Edge */
    font-size: 1.4rem;
  }

  ::placeholder {
    font-size: 1.4rem;
  }
}

.submit-btn {
  width: 152px;
  margin: 0 auto;
}

.submit-btn input[type='submit'] {
  border: 2px solid #333;
  background-color: $white;
  color: #333;
  padding: 1rem 2rem 1rem 2rem;
  width: 152px;
  margin: 0 auto;
  transition: all .3s;
}

.submit-btn input[type='submit']:hover {
  background-color: #333;
  color: #fff;
}

@media (min-width: 576px) {
  .contact h2 {
    margin-bottom: 4rem;
  }

  .form-list li {
    margin-bottom: 3rem;
  }
}

@media (min-width: 768px) {
  .form-list {
    max-width: 60rem;
  }
}
