.concept {
  /* Box-model */
  display: flex;
  justify-content: center;
}

.concept-area section:nth-of-type(1) {
  /* Box-model */
  margin-bottom: 4rem;
}

.concept-area section:nth-of-type(2) {
  /* Box-model */
  display: none;
}

.concept-area .concept-img {
  /* Box-model */
  margin-bottom: 2rem;

  i {
    /* Typography */
    font-size: 4rem;
  }
}

.concept-area h3 {
  /* Box-model */
  margin-bottom: 1rem;

  /* Typography */
  font-size: 2rem;
}

.concept-area p {
  line-height: 1.2;
}

@media (min-width: 576px) {
  .concept-area {
    /* Box-model */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;

    section {
      /* Box-model */
      width: 45%;
      margin-bottom: 8rem;
    }
  }
}

@media (min-width: 768px) {
  .concept-area {
    /* Box-model */
    justify-content: space-between;
    max-width: 108rem;

    section {
      /* Box-model */
      width: 30%;
      margin: 0;
    }
  }
}
