.cover {
  display: flex;
  align-items: center;
  height: 100vh;
  padding-right: 2rem;
}

.cover h2 {
  margin: 0 auto;
  font-size: 3.2rem;
}

.cover span {
  display: inline-block;
  // padding: .3rem 1rem .8rem 1rem;
  // background-color: $white;
  &:first-child {
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .cover {
    padding-right: 0;
    padding-left: 8rem;
  }

  .cover h2 {
    font-size: 7.2rem;
  }

  .cover span {
    display: inline-block;
    padding: .3rem 1.5rem .8rem 1.5rem;
    // background-color: $white;

    &:first-child {
      margin-bottom: 3rem;
    }
  }
}
