.cover {
  /* Box-model */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cover .heading-block {
  line-height: 1;
}

.cover h2 {
  /* Typography */
  font-size: 5rem;
  margin-bottom: 3.5vh;

  span {
    font-size: 1.8rem;
  }
}

@media (min-width: 576px) {
  .cover h2 br {
    /* Box-model */
    display: none;
  }
}

@media (min-width: 768px) {
  .cover h2 {
    /* Typography */
    font-size: 6.5vw;
  }

  .cover p {
    /* Typography */
    font-size: 2.5vw;
  }
}
