.header {
  h1 {
    position: fixed;
    z-index: 9999;
    top: 4.9vh;
    left: 4vw;
    font-size: 1.8rem;
  }
}

@media (min-width: 576px) {
  .header {
    h1 {
      top: 3.7vh;
      left: 3vw;
      font-size: 2.5rem;
    }
  }
}

@media (min-width: 768px) {
  .header {
    h1 {
      top: 3vh;
      left: 2vw;
      font-size: 3.2rem;
    }
  }
}
