.header {
  h1 {
    /* Positioning */
    position: fixed;
    top: 4vh;
    left: 4vw;
    z-index: 9999;

    /* Typography */
    font-size: 3.2rem;
    letter-spacing: -.0625em;
  }
}

@media (min-width: 576px) {
  .header {
    h1 {
      /* Positioning */
      top: 3.5vh;
      left: 3vw;

      /* Typography */
      font-size: 3.6rem;
    }
  }
}

@media (min-width: 768px) {
  .header {
    h1 {
      /* Positioning */
      top: 3vh;
      left: 2vw;

      /* Typography */
      font-size: 4rem;
    }
  }
}
