.header h1 {
  /* Positioning */
  position: fixed;
  // top: 4vh;
  // left: 4vw;
  top: 2vh;
  left: 2vw;
  z-index: 998;

  /* Box-model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;

  /* Typography */
  font-size: 2.8rem;
  line-height: 1;
}

@media (min-width: 576px) {
  .header h1 {
    /* Typography */
    font-size: 3.6rem;
  }
}

@media (min-width: 768px) {
  .header h1 {
    /* Typography */
    font-size: 4rem;
  }
}
