.hero h2 {
  /* Box-model */
  margin-bottom: 1.5rem;

  /* Typography */
  font-size: 5rem;
}

@media (min-width: 576px) {
  .hero h2 br {
    /* Box-model */
    display: none;
  }
}

@media (min-width: 768px) {
  .hero h2 {
    /* Typography */
    font-size: 6.5vw;
  }

  .hero p {
    /* Typography */
    font-size: 2vw;
  }
}
