.heading-block h2 {
  /* Box-model */
  margin-bottom: 3.5vh;

  /* Typography */
  font-size: 5rem;
}

@media (min-width: 576px) {
  .heading-block h2 br {
    /* Box-model */
    display: none;
  }
}

@media (min-width: 768px) {
  .heading-block h2 {
    /* Typography */
    font-size: 6.5vw;
  }

  .heading-block p {
    /* Typography */
    font-size: 2vw;
  }
}
