.works picture {
  /* Box-model */
  display: inline-block;
  margin-bottom: 4rem;

  img {
    /* Box-model */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.works h3 {
  /* Box-model */
  margin-bottom: 2.5rem;

  /* Typography */
  font-size: 2.5rem;
}

.works p {
  /* Box-model */
  margin-bottom: 3rem;

  /* Typography */
  font-weight: 600;
  line-height: 1.5;
}

.works ul {
  /* Typography */
  font-size: 1.4rem;
  line-height: 1.5;
  color: #848484;

  li {
    /* Box-model */
    display: inline-block;
    margin-right: .2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

// slick
.works .carousel {
  /* Box-model */
  max-width: 28rem;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .works picture {
    /* Box-model */
    margin-bottom: 5rem;
  }

  .works h3 {
    /* Typography */
    font-size: 3rem;
  }

  .works p {
    /* Box-model */
    margin-bottom: 5rem;

    /* Typography */
    font-size: 2rem;
  }

  .works ul {
    font-size: 1.6rem;
  }

  // slick
  .works .carousel {
    /* Box-model */
    max-width: 50rem;
  }
}

@media (min-width: 768px) {

  // slick
  .works picture {
    /* Box-model */
    margin-bottom: 4rem;
  }

  .works h3 {
    /* Box-model */
    margin-bottom: 2rem;

    /* Typography */
    font-size: 3.5rem;
  }

  .works p {
    /* Box-model */
    margin-bottom: 3rem;

    /* Typography */
    font-size: 2.2rem;
  }

  .works ul {
    font-size: 1.8rem;
  }

  // slick
  .works .carousel {
    /* Box-model */
    max-width: 70rem;
  }
}
