.works figure {
  /* Box-model */
  margin-bottom: 1rem;

  img {
    /* Box-model */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.works h3 {
  /* Box-model */
  margin-bottom: 2rem;

  /* Typography */
  font-size: 2rem;
}

.works p {
  /* Box-model */
  margin-bottom: 2rem;

  /* Typography */
  line-height: 1.5;
}

.works ul {
  /* Typography */
  font-size: 1.4rem;
  line-height: 1.5;
  color: #848484;

  li {
    /* Box-model */
    display: inline-block;
    margin-right: .2rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

// slick
.works .carousel {
  /* Box-model */
  max-width: 28rem;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .works h2 {
    /* Box-model */
    margin-bottom: 2.5rem;
  }

  .works figure {
    /* Box-model */
    margin-bottom: 1.5rem;
  }

  .works h3 {
    /* Typography */
    font-size: 2.5rem;
  }

  .works p {
    /* Box-model */
    margin-bottom: 3rem;

    /* Typography */
    font-size: 1.6rem;
  }

  .works ul {
    font-size: 1.4rem;
  }

  // slick
  .works .carousel {
    /* Box-model */
    max-width: 50rem;
  }
}

@media (min-width: 768px) {
  .works h2 {
    margin-bottom: 1.5rem;
  }

  .works figure {
    /* Box-model */
    margin-bottom: 2rem;
  }

  .works h3 {
    /* Box-model */
    margin-bottom: 2rem;

    /* Typography */
    font-size: 3rem;
  }

  .works p {
    /* Box-model */
    margin-bottom: 2rem;
  }

  // slick
  .works .carousel {
    /* Box-model */
    max-width: 60rem;
  }
}
