@charset "UTF-8";
/*==============================
# Google Fonts
==============================*/
/*==============================
# Colors
==============================*/
/*==============================
# inner
==============================*/
/*==============================
# mixins
==============================*/
/*==============================
# @extend
==============================*/
.btn, .access__button, .results__button, .news__button {
  text-align: center;
}
.btn a, .access__button a, .results__button a, .news__button a {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 95px 17px 99px;
  color: #FFF;
  background-color: transparent;
  border: 1px solid #FFF;
  transition: color 0.4s, background-color 0.4s;
}
@media screen and (min-width: 768px) {
  .btn a, .access__button a, .results__button a, .news__button a {
    padding: 21px 76px 21px 79px;
    font-size: 20px;
  }
  .btn a:hover, .access__button a:hover, .results__button a:hover, .news__button a:hover {
    color: #3E3E3E;
    background-color: #FFF;
    border: 1px solid #707070;
  }
}

/*==============================
# Common - 全体に共通するスタイル
==============================*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}
body {
  font-size: 14px;
  font-weight: 500;
  color: #3E3E3E;
  font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

.inner {
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .inner {
    box-sizing: content-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
}

/* Header
------------------------------*/
.header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 768px) {
  .header {
    background: rgba(255, 255, 255, 0.1);
  }
}

.header__inner {
  height: 68px;
}
@media screen and (min-width: 768px) {
  .header__inner {
    height: 83px;
  }
}

.header__logo a {
  display: inline-block;
  font-size: 23px;
  font-weight: bold;
  line-height: 68px;
}

.hamburger__menu {
  z-index: 300;
  position: fixed;
  top: 9px;
  right: 4px;
  width: 50px;
  height: 50px;
  margin-left: auto;
  cursor: pointer;
  transition: right 0.5s;
}
@media screen and (max-width: 767px) {
  .hamburger__menu {
    display: block;
  }
}
.hamburger__menu.open {
  right: 300px;
}
@media screen and (max-width: 374px) {
  .hamburger__menu.open {
    right: 250px;
  }
}
.hamburger__menu.open span {
  background: #FFF;
}
.hamburger__menu.open span:nth-of-type(1) {
  top: 23px;
  transform: rotate(-45deg);
}
.hamburger__menu.open span:nth-of-type(2) {
  opacity: 0;
}
.hamburger__menu.open span:nth-of-type(3) {
  top: 23px;
  transform: rotate(45deg);
}

.hamburger__menu span {
  display: inline-block;
  position: absolute;
  left: 12px;
  height: 4px;
  border-radius: 2px;
  background: #3E3E3E;
  width: 26px;
}
.hamburger__menu span:nth-of-type(1) {
  top: 15px;
}
.hamburger__menu span:nth-of-type(2) {
  top: 23px;
}
.hamburger__menu span:nth-of-type(3) {
  top: 31px;
}

@media screen and (max-width: 767px) {
  .hamburger__nav {
    position: fixed;
    z-index: 299;
    top: 0;
    right: -105%;
    display: grid;
    place-items: center stretch;
    width: 300px;
    height: 100%;
    text-align: center;
    background: #FFF;
    transition: right 0.5s;
  }
}
@media screen and (max-width: 767px) and (max-width: 374px) {
  .hamburger__nav {
    width: 250px;
  }
}
@media screen and (max-width: 767px) {
  .hamburger__nav.open {
    right: 0;
  }
}
@media screen and (max-width: 767px) {
  .hamburger__nav a {
    display: block;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    text-align: center;
  }
  .header__nav a {
    display: inline-block;
    padding: 0 7px;
    font-weight: 500;
    line-height: 82px;
    letter-spacing: -0.4px;
  }
  .header__nav a:nth-child(n+2) {
    margin-left: 22px;
  }
}
@media screen and (min-width: 768px) {
  .header__nav a {
    position: relative;
  }
  .header__nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 26px;
    left: 0;
    background-color: #3E3E3E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .header__nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

@media screen and (max-width: 767px) {
  .hamburger__nav-inner {
    padding-left: 1px;
    padding-bottom: 1px;
  }
}

.hamburger__bg {
  position: fixed;
  z-index: 298;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(62, 62, 62, 0.7);
  display: none;
}
@media screen and (max-width: 767px) {
  .hamburger__bg.open {
    display: block;
  }
}

/*==============================
# main
==============================*/
/* Common
------------------------------*/
@-webkit-keyframes fadeInUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

/* util
------------------------------*/
.util-title {
  padding: 44px 0 43px 0;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .util-title {
    padding: 64px 0;
    font-size: 36px;
  }
}

/* Main Visual
------------------------------*/
@media screen and (max-width: 767px) {
  .mv {
    height: 667px;
    background: url(../img/sp/mv.png) 22% center/cover;
  }
}
@media screen and (min-width: 768px) {
  .mv {
    height: 648px;
    background: url(../img/mv.png) center/cover no-repeat;
  }
}

.mv__inner {
  height: inherit;
  display: flex;
  align-items: center;
}

.mv__content {
  width: 100%;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .mv__content {
    margin-left: auto;
    padding-top: 83px;
    width: 50%;
    min-width: 448px;
  }
}

.mv__title {
  font-size: 24px;
  line-height: 1.6666666667;
}
@media screen and (min-width: 768px) {
  .mv__title {
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0.02px;
  }
}
@media screen and (max-width: 374px) {
  .mv__title {
    font-size: 20px;
  }
}

.mv__lead {
  margin-top: 20px;
  line-height: 1.4285714286;
}
@media screen and (min-width: 768px) {
  .mv__lead {
    margin-top: 28px;
    max-width: 588px;
    font-size: 18px;
    line-height: 1.5555555556;
    letter-spacing: 0.45px;
  }
}

.mv__button {
  margin: 28px 0 8px;
}
@media screen and (max-width: 767px) {
  .mv__button {
    text-align: center;
  }
}
.mv__button a,
.mv__button button {
  display: inline-block;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  background-color: #FFAA3B;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  transition: background-color 0.4s;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .mv__button a,
.mv__button button {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    letter-spacing: 0.45px;
  }
  .mv__button a:hover,
.mv__button button:hover {
    background-color: #F18900;
  }
}
@media screen and (min-width: 768px) {
  .mv__button {
    margin-top: 38px;
  }
}

/* News
------------------------------*/
.news {
  background-color: #F3F3F3;
  padding-bottom: 21px;
}
@media screen and (min-width: 768px) {
  .news {
    padding: 120px 0;
  }
}

.news__content {
  margin: 0 auto;
  background-color: #FFF;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .news__content {
    position: relative;
    top: -39px;
    max-width: 500px;
  }
}

@media screen and (min-width: 768px) {
  .news__items {
    margin: 0 5%;
  }
}

.news__item {
  border-top: 1px solid #CECDCD;
}
.news__item:last-child {
  border-bottom: 1px solid #CECDCD;
}

.news__item-link {
  position: relative;
  display: block;
  padding: 13px 55px 11px 16px;
}
@media screen and (min-width: 768px) {
  .news__item-link {
    display: flex;
    padding: 36px 55px 41px 0;
    transition: background-color 0.4s;
  }
  .news__item-link:hover {
    background-color: rgba(73, 115, 255, 0.1);
  }
}
.news__item-link::after {
  content: "";
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 24px;
  background: url(../img/news-arrow.svg) no-repeat center/contain;
}

.news__header {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .news__header {
    flex: 0 0 261px;
  }
}

.news__date {
  font-weight: normal;
  letter-spacing: 0.35px;
}
@media screen and (min-width: 768px) {
  .news__date {
    font-size: 18px;
    letter-spacing: 0.45px;
  }
}

.news__tag {
  margin-left: 24px;
  padding: 2px 14px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
  background-color: #FFF;
  border: 2px solid #3B69FF;
  border-radius: 50px;
}
@media screen and (min-width: 768px) {
  .news__tag {
    margin-left: 40px;
    padding: 6px 30px;
    font-size: 14px;
    letter-spacing: 0.35px;
  }
}

.news__title {
  display: block;
  margin-top: 9px;
  line-height: 1.4285714286;
}
@media screen and (min-width: 768px) {
  .news__title {
    margin: 0 0 0 40px;
    flex-basis: 100%;
    max-width: 698px;
    font-size: 18px;
    line-height: 1.5555555556;
    letter-spacing: 0.45px;
  }
}

.news__button {
  margin-top: 39px;
}
@media screen and (min-width: 768px) {
  .news__button {
    margin-top: 40px;
  }
}
.news__button a {
  color: inherit;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  background-color: #FFF;
  border: 1px solid #707070;
}
@media screen and (min-width: 768px) {
  .news__button a:hover {
    color: #FFF;
    background-color: #3E3E3E;
    border: 1px solid #FFF;
  }
}

/* Service
------------------------------*/
.service {
  background: linear-gradient(#3E3E3E 480px, #F3F3F3 480px);
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .service {
    background: linear-gradient(#3E3E3E 400px, #F3F3F3 400px);
    padding-bottom: 120px;
  }
}

.service__head {
  color: #FFF;
}

.service__items {
  max-width: 500px;
  padding: 40px 16px 35px;
  margin: 0 auto;
  background-color: #FFF;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}
@media screen and (min-width: 768px) {
  .service__items {
    max-width: 960px;
    padding: 60px 45px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .service__item {
    flex-basis: 26.4367816092%;
    min-width: 170px;
  }
}
.service__item + .service__item {
  margin-top: 35px;
}
@media screen and (min-width: 768px) {
  .service__item + .service__item {
    margin-top: 0;
  }
}

.service__image {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__title {
  margin-top: 8px;
  padding-left: 7px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .service__title {
    margin-top: 6px;
    padding-left: 4px;
    line-height: 1.4;
  }
}

.service__text {
  margin: 15px auto 0;
  max-width: 311px;
  line-height: 1.7142857143;
}
@media screen and (min-width: 768px) {
  .service__text {
    margin-top: 13px;
    font-size: 14px;
  }
}

/* Results
------------------------------*/
.results {
  background-color: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .results {
    background-color: #F3F3F3;
  }
}

@media screen and (min-width: 768px) {
  .results__inner {
    padding-left: 40px;
  }
}

.results__content {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .results__content {
    margin-left: auto;
    max-width: calc(50vw + 600px);
    padding-left: 60px;
    padding-bottom: 60px;
    background-color: #3E3E3E;
  }
}

.results__head {
  color: #FFF;
}
@media screen and (min-width: 768px) {
  .results__head {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}

.results__body {
  padding: 12px 12px 10px;
  background-color: #FFF;
  letter-spacing: 0.01px;
}
@media screen and (min-width: 768px) {
  .results__body {
    padding: 17px 16px 20px;
    letter-spacing: normal;
  }
}

.results__title {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .results__title {
    font-size: 20px;
  }
}

.results__text {
  margin-top: 11px;
  font-size: 12px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .results__text {
    margin-top: 12px;
    font-size: 16px;
  }
}

.results__button {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .results__button {
    margin-top: 32px;
    text-align: left;
  }
}
.results__button a {
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .results__button a {
    letter-spacing: 4px;
  }
}
@media screen and (max-width: 374px) {
  .results__button a {
    width: 268px;
    padding: 17px 0;
  }
}

.swiper {
  padding-left: 16px;
  padding-bottom: 52px;
}
@media screen and (min-width: 768px) {
  .swiper {
    padding-left: 0;
    padding-bottom: 68px;
  }
}

.swiper-slide {
  width: 274px;
}
@media screen and (min-width: 768px) {
  .swiper-slide {
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .swiper-slide a {
    display: block;
    transition: opacity 0.4s;
  }
  .swiper-slide a:hover {
    opacity: 0.7;
  }
}

@media screen and (min-width: 768px) {
  .swiper-pagination {
    text-align: left;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #FFF;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  position: relative;
}
.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  border: 1px solid #FFF;
  border-radius: 50%;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 10px;
  margin-right: 10px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:first-child, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:first-child, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
    margin-left: 4px;
  }
}

/* Price
------------------------------*/
.price {
  background-color: #F3F3F3;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .price {
    padding-top: 60px;
    padding-bottom: 120px;
  }
}

.price__content {
  max-width: 500px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .price__content {
    max-width: 960px;
  }
}

.price__items {
  border: 1px solid #707070;
}

.price__item {
  display: flex;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .price__item {
    font-size: 24px;
  }
}
.price__item + .price__item .price__term {
  border-top: 1px solid #FFF;
}
.price__item + .price__item .price__description {
  border-top: 1px solid #707070;
}

.price__term {
  flex-basis: 29.1545189504%;
  min-width: 100px;
  padding: 16px 16px 18px 15px;
  color: #FFF;
  text-align: center;
  background-color: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .price__term {
    flex-basis: 27.2916666667%;
    padding-top: 17px;
  }
}

.price__description {
  flex-basis: 70.8454810496%;
  padding: 16px 0 17px 20px;
  background-color: #FFF;
}
@media screen and (min-width: 768px) {
  .price__description {
    flex-basis: 72.7083333333%;
    padding: 17px 0 17px 40px;
  }
}
.price__description span {
  padding-left: 7px;
}
@media screen and (min-width: 768px) {
  .price__description span {
    padding-left: 8px;
  }
}

.price__text {
  margin-top: 8px;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .price__text {
    margin-top: 12px;
  }
}

/* Comments
------------------------------*/
.comments {
  background: linear-gradient(#F3F3F3 60px, #3E3E3E 60px);
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .comments {
    position: relative;
    padding-bottom: 120px;
    background: #F3F3F3;
  }
  .comments::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 76.5625%;
    height: 576px;
    background-color: #3E3E3E;
  }
}

@media screen and (min-width: 768px) {
  .comments__inner {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.comments__content {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px 38px;
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .comments__content {
    flex-basis: 55.5%;
    max-width: 666px;
    margin: 0;
    padding: 60px clamp(20px, 4.7vw, 60px) 120px;
  }
}

.comments__head {
  padding-bottom: 39px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .comments__head {
    padding-bottom: 60px;
  }
}

.comments__row {
  display: flex;
  justify-content: space-between;
}
.comments__row + .comments__row {
  margin-top: 34px;
}
@media screen and (min-width: 768px) {
  .comments__row + .comments__row {
    margin-top: 57px;
  }
}

.comments__profile {
  padding-top: 3px;
  flex-basis: 19.801980198%;
}
@media screen and (min-width: 768px) {
  .comments__profile {
    flex-basis: 18.315018315%;
  }
}

.comments__text {
  flex-basis: 73.597359736%;
  line-height: 1.4285714286;
}
@media screen and (min-width: 768px) {
  .comments__text {
    flex-basis: 75.8241758242%;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .comments__image {
    flex-basis: 44.5%;
  }
}

/* Q&A
------------------------------*/
.qa {
  background: url(../img/sp/qa-bg.png) center/cover no-repeat;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .qa {
    background: url(../img/qa-bg.png) center/cover no-repeat fixed;
    padding-bottom: 120px;
  }
}

.qa__accordions {
  max-width: 500px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .qa__accordions {
    max-width: 612px;
    margin-right: 0;
  }
}

.qa__accordion {
  background-color: #FFF;
  border-radius: 4px;
}
.qa__accordion + .qa__accordion {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .qa__accordion + .qa__accordion {
    margin-top: 32px;
  }
}
.qa__accordion:nth-child(2) .qa__q {
  padding-top: 14px;
  padding-bottom: 14px;
}

.qa__q {
  position: relative;
  padding: 16px;
  cursor: pointer;
}
.qa__q::before {
  content: "Q";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: #FFF;
  text-align: center;
  background-color: #3B69FF;
  border-radius: 50%;
}

.qa__q-text {
  padding-left: 40px;
  padding-right: 31px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.qa__icon {
  position: absolute;
  right: 17px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  /*＋、－切り替え*/
}
.qa__icon.open::after {
  transform: translate(-50%, -50%) rotate(0deg);
}

.qa__icon::before,
.qa__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 3px;
  background: #3B69FF;
  transition: transform 0.4s;
}

.qa__icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.qa__a {
  display: none;
  padding: 0 16px 16px;
}
.qa__a.opened {
  display: block;
}

.qa__a-text {
  padding: 9px 16px 9px 12px;
  line-height: 1.4285714286;
  background-color: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .qa__a-text {
    padding: 12px 16px;
    line-height: 1.5;
  }
}

/* Access
------------------------------*/
.access {
  color: #FFF;
  background-color: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .access {
    position: relative;
    padding-top: 60px;
    padding-bottom: 256px;
    background-color: #F3F3F3;
    overflow-x: hidden;
  }
  .access::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 76.5625%;
    height: 504px;
    background-color: #3E3E3E;
  }
}

@media screen and (min-width: 768px) {
  .access__inner {
    position: relative;
  }
}

.access__content {
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .access__content {
    padding: 0 0 120px 60px;
  }
}

.access__head {
  text-align: left;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .access__head {
    padding-bottom: 60px;
  }
}

.access__address {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-style: normal;
  line-height: 1.4285714286;
}
@media screen and (min-width: 768px) {
  .access__address {
    line-height: 1.5;
  }
}

.access__map {
  margin: 20px auto 0;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(62, 62, 62, 0.2);
}
@media screen and (min-width: 768px) {
  .access__map {
    position: absolute;
    top: 60px;
    left: 514px;
    margin: 0;
    max-width: 726px;
    width: 100%;
  }
}

.iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: 70.2623906706%;
}
@media screen and (min-width: 768px) {
  .iframe-wrap {
    padding-top: 71.6253443526%;
  }
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access__button {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .access__button {
    margin-top: 28px;
    text-align: left;
  }
}
.access__button a {
  letter-spacing: 1.8px;
}
@media screen and (min-width: 768px) {
  .access__button a {
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 374px) {
  .access__button a {
    width: 268px;
    padding: 17px 0;
  }
}

/* Contact
------------------------------*/
.contact {
  padding: 40px 0 38px;
  background: url(../img/contact-bg.png) center/cover;
}
@media screen and (min-width: 768px) {
  .contact {
    padding: 60px 0 59px;
  }
}

.contact__content {
  max-width: 500px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .contact__content {
    max-width: 960px;
  }
}

.contact__header {
  padding: 45px 16px 37px;
  color: #FFF;
  background: url(../img/sp/contact1.png) top/cover no-repeat;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .contact__header {
    padding: 64px 0 60px;
    background: url(../img/contact1.png) top/cover no-repeat;
    border-radius: 12px 12px 0 0;
  }
}

.contact__head {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .contact__head {
    padding-left: 3px;
  }
}

.contact__header-text {
  margin-top: 12px;
  line-height: 1.4285714286;
}
@media screen and (min-width: 768px) {
  .contact__header-text {
    margin-top: 20px;
    line-height: 1;
    text-align: center;
  }
}

.contact__form {
  padding: 40px 12px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  background-color: #FFF;
  border-radius: 0 0 12px 12px;
}
@media screen and (min-width: 768px) {
  .contact__form {
    padding: 60px 12.5%;
  }
}

.contact__info:nth-child(2) {
  margin-top: 32px;
}
.contact__info:nth-child(3), .contact__info:nth-child(4), .contact__info:nth-child(5) {
  margin-top: 23px;
}
.contact__info:last-child {
  margin-top: 18px;
}
@media screen and (min-width: 768px) {
  .contact__info:not(:last-child) {
    display: flex;
    align-items: center;
  }
  .contact__info:nth-child(3), .contact__info:nth-child(4), .contact__info:nth-child(5) {
    margin-top: 32px;
  }
  .contact__info:nth-child(5) {
    margin-top: 18px;
  }
}

.contact__info-title {
  position: relative;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .contact__info-title {
    flex: 0 0 188px;
  }
}
.contact__info-title.required::after {
  content: "必須";
  position: absolute;
  margin-left: 20px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  background-color: #FF4646;
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .contact__info-title.required::after {
    margin-left: 12px;
  }
}

@media screen and (min-width: 768px) {
  .contact__info-input {
    margin-top: 0;
    flex-basis: 100%;
  }
}
.contact__info-input select:focus-visible,
.contact__info-input input:focus-visible,
.contact__info-input textarea:focus-visible {
  outline: none;
}
.contact__info-input select,
.contact__info-input input[type=text],
.contact__info-input input[type=email],
.contact__info-input textarea {
  width: 100%;
  padding: 0;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .contact__info-input select,
.contact__info-input input[type=text],
.contact__info-input input[type=email],
.contact__info-input textarea {
    font-size: 16px;
  }
}

.contact__info:first-child .contact__info-input {
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .contact__info:first-child .contact__info-input {
    margin-top: 0;
  }
}

.contact__info-input select {
  padding: 0 12px;
  height: 38px;
  line-height: 38px;
  color: #3E3E3E;
  text-transform: capitalize;
  background: url(../img/select-arrow.png) no-repeat right 14px center/11.5px 7.5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #707070;
  border-radius: 0;
  transition: box-shadow 0.3s;
}
.contact__info-input select:focus-visible {
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
}
@media screen and (min-width: 768px) {
  .contact__info-input select {
    width: 178px;
    height: 40px;
    line-height: 40px;
  }
  .contact__info-input select:hover {
    box-shadow: 0 0 5px rgba(73, 115, 255, 0.5);
  }
}

.contact__info-input input[type=text],
.contact__info-input input[type=email] {
  padding-top: 16px;
  padding-bottom: 12px;
  transition: border-bottom 0.3s, box-shadow 0.3s;
}
.contact__info-input input[type=text]:focus-visible + span,
.contact__info-input input[type=email]:focus-visible + span {
  background-color: #4973FF;
  box-shadow: 0 5px 4px rgba(73, 115, 255, 0.5);
}
@media screen and (min-width: 768px) {
  .contact__info-input input[type=text],
.contact__info-input input[type=email] {
    height: 32px;
    padding: 0 12px;
  }
  .contact__info-input input[type=text]:hover + span,
.contact__info-input input[type=email]:hover + span {
    background-color: #4973FF;
    box-shadow: 0 5px 4px rgba(73, 115, 255, 0.5);
  }
}

.contact__info-input.underline {
  position: relative;
}
.contact__info-input.underline span {
  position: absolute;
  bottom: 9px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3E3E3E;
}
@media screen and (min-width: 768px) {
  .contact__info-input.underline span {
    bottom: 0;
  }
}

.contact__info:nth-child(5) .contact__info-input {
  margin-top: 2px;
}
@media screen and (min-width: 768px) {
  .contact__info:nth-child(5) .contact__info-input {
    margin-top: 0;
  }
}

.contact__radio label {
  position: relative;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  cursor: pointer;
}
.contact__radio label:nth-child(n+2) {
  margin-left: 37px;
}
@media screen and (min-width: 768px) {
  .contact__radio label:nth-child(n+2) {
    margin-left: 36px;
  }
}
.contact__radio input[type=radio] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.contact__radio span {
  position: relative;
  padding-left: 20px;
  display: inline-block;
  font-size: 16px;
}
.contact__radio span::before, .contact__radio span::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.contact__radio span::before {
  left: 0;
  width: 10px;
  height: 10px;
  background: #FFF;
  border: 1px solid #707070;
  border-radius: 50%;
  transition: border 0.3s, box-shadow 0.3s, background-color 0.3s;
}
.contact__radio span::after {
  left: 3px;
  width: 6px;
  height: 6px;
  background: #3B69FF;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}
.contact__radio input[type=radio]:checked + span::after {
  opacity: 1;
}
.contact__radio input[type=radio]:focus-visible + span::before {
  border: 1px solid #3B69FF;
  box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
}
@media screen and (min-width: 768px) {
  .contact__radio input[type=radio]:hover + span::before {
    border: 1px solid #3B69FF;
    box-shadow: 0 0 6px rgba(73, 115, 255, 0.2);
  }
}
.contact__radio input[type=radio] + span:active::before {
  background-color: rgba(73, 115, 255, 0.2);
  border: 1px solid #3B69FF;
}

.contact__info-input textarea {
  min-height: 160px;
  padding: 10px 12px;
  border: 1px solid #707070;
  resize: vertical;
  transition: border-bottom 0.3s, box-shadow 0.3s;
}
.contact__info-input textarea:focus-visible {
  border: 1px solid #4973FF;
  box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
}
@media screen and (min-width: 768px) {
  .contact__info-input textarea {
    min-height: 200px;
  }
  .contact__info-input textarea:hover {
    border: 1px solid #4973FF;
    box-shadow: 0 0 8px rgba(73, 115, 255, 0.5);
  }
}

.contact__info:last-child .contact__info-input {
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .contact__info:last-child .contact__info-input {
    margin-top: 8px;
  }
}

.contact__privacy {
  margin-top: 18px;
}
@media screen and (min-width: 768px) {
  .contact__privacy {
    margin-top: 26px;
  }
}
.contact__privacy label {
  position: relative;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  cursor: pointer;
}
.contact__privacy input[type=checkbox] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.contact__privacy span {
  position: relative;
  padding-left: 38px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .contact__privacy span {
    padding-left: 40px;
    font-size: 18px;
  }
}
.contact__privacy span::before, .contact__privacy span::after {
  content: "";
  position: absolute;
}
.contact__privacy span::before {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: #FFF;
  border: 1px solid #707070;
  transition: border 0.3s, box-shadow 0.3s, background-color 0.3s;
}
@media screen and (min-width: 768px) {
  .contact__privacy span::before {
    width: 18px;
    height: 18px;
  }
}
.contact__privacy span::after {
  display: inline-block;
  top: 13px;
  left: 5px;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  border-bottom: 2px solid #3B69FF;
  border-right: 2px solid #3B69FF;
  opacity: 0;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  .contact__privacy span::after {
    top: 11px;
    left: 6px;
    width: 6px;
    height: 14px;
  }
}
.contact__privacy input[type=checkbox]:checked + span::after {
  opacity: 1;
}
.contact__privacy input[type=checkbox]:focus-visible + span::before {
  border: 1px solid #4973FF;
  box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
}
@media screen and (min-width: 768px) {
  .contact__privacy input[type=checkbox]:hover + span::before {
    border: 1px solid #4973FF;
    box-shadow: 0 0 5px rgba(73, 115, 255, 0.2);
  }
}
.contact__privacy input[type=checkbox] + span:active::before {
  background-color: rgba(73, 115, 255, 0.2);
  border: 1px solid #4973FF;
}

.contact__submit {
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .contact__submit {
    margin-top: 28px;
  }
}
@media screen and (max-width: 767px) {
  .contact__submit {
    text-align: center;
  }
}
.contact__submit a,
.contact__submit button {
  display: inline-block;
  padding: 16px 50px;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  background-color: #FFAA3B;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
  transition: background-color 0.4s;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .contact__submit a,
.contact__submit button {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 18px;
    letter-spacing: 0.45px;
  }
  .contact__submit a:hover,
.contact__submit button:hover {
    background-color: #F18900;
  }
}
.contact__submit .-submit:disabled {
  letter-spacing: 0.4px;
  background-color: #B2B2B2;
  cursor: not-allowed;
}

.contact__message {
  line-height: 1.5;
  text-align: center;
  padding: 60px 0;
  background-color: #FFF;
  border-radius: 0 0 12px 12px;
  display: none;
}
.contact__message.-error {
  color: #FF4646;
}

/* Footer
------------------------------*/
.footer {
  padding: 56px 0 57px;
  text-align: center;
  background-color: #3E3E3E;
}
@media screen and (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer__links {
    text-align: left;
  }
}

.footer__sns a {
  display: inline-block;
  font-size: 38px;
  color: #B2B2B2;
  transition: color 0.4s;
}
@media screen and (min-width: 768px) {
  .footer__sns a:hover {
    color: #FFF;
  }
}
.footer__sns a:nth-child(n+2) {
  margin-left: 37px;
}
@media screen and (min-width: 768px) {
  .footer__sns a:nth-child(n+2) {
    margin-left: 20px;
  }
}

.footer__twitter {
  padding: 3px;
}
@media screen and (min-width: 768px) {
  .footer__twitter {
    margin-left: -5px;
  }
}

.footer__facebook {
  padding: 3px 6px;
}

.footer__nav {
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  .footer__nav {
    margin-top: 24px;
  }
}
.footer__nav a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #FFF;
  letter-spacing: 0.35px;
}
@media screen and (min-width: 768px) {
  .footer__nav a {
    position: relative;
  }
  .footer__nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 4px;
    left: 0;
    background-color: #FFF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .footer__nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.footer__about {
  margin-top: 31px;
}
@media screen and (min-width: 768px) {
  .footer__about {
    margin-top: 9px;
    text-align: right;
  }
}

.footer__logo {
  font-size: 32px;
  font-weight: bold;
  color: #E3E3E3;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    font-size: 40px;
  }
}

.footer__copyright {
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-top: 13px;
  }
}
.footer__copyright small {
  font-size: 12px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.3px;
}

/* to Top
------------------------------*/
.to-top {
  position: fixed;
  bottom: 13px;
  right: 16px;
  display: none;
}
.to-top.show {
  display: block;
}
@media screen and (min-width: 768px) {
  .to-top {
    bottom: 40px;
    right: 40px;
  }
}