@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@700&display=swap");
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* Typography */
  font: 1.4rem/1 YuGothic, "Original Yu Gothic", Meiryo, sans-serif;
  color: #000;
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ul {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

h2 {
  /* Box-model */
  margin-bottom: 2rem;
  /* Typography */
  font-size: 3rem;
}

@media (min-width: 576px) {
  h2 {
    /* Box-model */
    margin-bottom: 6rem;
  }
}
@media (min-width: 768px) {
  h2 {
    /* Box-model */
    margin-bottom: 8rem;
    /* Typography */
    font-size: 5rem;
  }
}
.header h1 {
  /* Positioning */
  position: fixed;
  top: 2vh;
  left: 2vw;
  z-index: 9999;
  /* Box-model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  /* Typography */
  font-size: 2.8rem;
  line-height: 1;
}

@media (min-width: 576px) {
  .header h1 {
    /* Typography */
    font-size: 3.6rem;
  }
}
@media (min-width: 768px) {
  .header h1 {
    /* Typography */
    font-size: 4rem;
  }
}
/*========= ナビゲーションのためのCSS ===============*/
/*アクティブになったエリア*/
#g-nav.panelactive {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100vh;
  /*ナビゲーションの背景色*/
  animation-name: gnaviAnime;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  background: #fff;
}

/*丸の拡大*/
.circle-bg {
  position: fixed;
  z-index: 3;
  /*丸の形*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /*丸のスタート位置と形状*/
  transform: scale(0);
  /*scaleをはじめは0に*/
  top: calc(50% - 50px);
  /*50%から円の半径を引いた値*/
  left: calc(50% - 50px);
  /*50%から円の半径を引いた値*/
  transition: all 0.6s;
  /*0.6秒かけてアニメーション*/
  /*ボーダーでワープみたいな演出*/
  border: 0.2rem dashed #000;
}

.circle-bg.circleactive {
  transform: scale(50);
  /*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list {
  display: none;
  /*はじめは表示なし*/
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list {
  display: block;
  /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
  opacity: 0;
  /*はじめは透過0*/
  /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
  opacity: 1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panelactive ul li {
  animation-name: gnaviAnime;
  animation-duration: 1s;
  animation-delay: 0.2s;
  /*0.2 秒遅らせて出現*/
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*リストのレイアウト設定*/
#g-nav li {
  text-align: center;
  list-style: none;
}

#g-nav li a {
  color: #000;
  text-decoration: none;
  margin: 3rem;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  /*メニューを押しやすいフォントサイズに*/
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  #g-nav li a {
    margin: 4rem;
    font-size: 4rem;
  }
}
/*========= ボタンのためのCSS ===============*/
.openbtn {
  position: fixed;
  top: 2vh;
  right: 2vw;
  z-index: 9999;
  /*ボタンを最前面に*/
  cursor: pointer;
  width: 50px;
  height: 50px;
}

/*×に変化*/
.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #000;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.hero h2 {
  /* Box-model */
  margin-bottom: 1rem;
  /* Typography */
  font-size: 5rem;
}

@media (min-width: 576px) {
  .hero h2 br {
    /* Box-model */
    display: none;
  }
}
@media (min-width: 768px) {
  .hero h2 {
    /* Typography */
    font-size: 6.5vw;
  }

  .hero p {
    /* Typography */
    font-size: 2vw;
  }
}
.concept {
  /* Box-model */
  display: flex;
  justify-content: center;
}

.concept-area section:nth-of-type(1) {
  /* Box-model */
  margin-bottom: 4rem;
}

.concept-area section:nth-of-type(2) {
  /* Box-model */
  display: none;
}

.concept-area .concept-img {
  /* Box-model */
  margin-bottom: 2rem;
}
.concept-area .concept-img i {
  /* Typography */
  font-size: 4rem;
}

.concept-area h3 {
  /* Box-model */
  margin-bottom: 1rem;
  /* Typography */
  font-size: 2rem;
}

.concept-area p {
  line-height: 1.2;
}

@media (min-width: 576px) {
  .concept-area {
    /* Box-model */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
  }
  .concept-area section {
    /* Box-model */
    width: 45%;
    margin-bottom: 8rem;
  }
}
@media (min-width: 768px) {
  .concept-area {
    /* Box-model */
    justify-content: space-between;
    max-width: 108rem;
  }
  .concept-area section {
    /* Box-model */
    width: 30%;
    margin: 0;
  }
}
.about h2 {
  /* Box-model */
  margin-bottom: 1.5rem;
  /* Typography */
  font-size: 3.5rem;
}

.about-img {
  /* Box-model */
  margin-bottom: 2rem;
}
.about-img img {
  /* Box-model */
  width: 8rem;
  /* Visual */
  border: 0.4rem double #000;
  border-radius: 50%;
}

.about p {
  /* Box-model */
  margin-bottom: 2.5rem;
  /* Typography */
  font-weight: 600;
  line-height: 1.2;
}
.about p:last-child {
  /* Box-model */
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .about h2 {
    /* Typography */
    font-size: 5rem;
  }

  .about-img {
    /* Box-model */
    margin-bottom: 3rem;
  }
  .about-img img {
    /* Box-model */
    width: 10rem;
  }

  .about p {
    /* Box-model */
    margin-bottom: 3rem;
    /* Typography */
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .about .inner {
    /* Box-model */
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 108rem;
    margin: 0 auto;
  }

  .about h2 {
    /* Typography */
    font-size: 7rem;
    /* Box-model */
    margin-bottom: 3rem;
  }

  .about-img img {
    /* Box-model */
    width: 14rem;
  }

  .about p {
    /* Typography */
    text-align: right;
  }
}
.works picture {
  /* Box-model */
  display: inline-block;
  margin-bottom: 1rem;
}
.works picture img {
  /* Box-model */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.works h3 {
  /* Box-model */
  margin-bottom: 2rem;
  /* Typography */
  font-size: 2rem;
}

.works p {
  /* Box-model */
  margin-bottom: 2rem;
  /* Typography */
  line-height: 1.5;
}

.works ul {
  /* Typography */
  font-size: 1.4rem;
  line-height: 1.5;
  color: #848484;
}
.works ul li {
  /* Box-model */
  display: inline-block;
  margin-right: 0.2rem;
}
.works ul li:last-child {
  margin-right: 0;
}

.works .carousel {
  /* Box-model */
  max-width: 28rem;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .works picture {
    /* Box-model */
    margin-bottom: 5rem;
  }

  .works h3 {
    /* Typography */
    font-size: 3rem;
  }

  .works p {
    /* Box-model */
    margin-bottom: 5rem;
    /* Typography */
    font-size: 2rem;
  }

  .works ul {
    font-size: 1.6rem;
  }

  .works .carousel {
    /* Box-model */
    max-width: 50rem;
  }
}
@media (min-width: 768px) {
  .works picture {
    /* Box-model */
    margin-bottom: 4rem;
  }

  .works h3 {
    /* Box-model */
    margin-bottom: 2rem;
    /* Typography */
    font-size: 3.5rem;
  }

  .works p {
    /* Box-model */
    margin-bottom: 3rem;
    /* Typography */
    font-size: 2.2rem;
  }

  .works ul {
    font-size: 1.8rem;
  }

  .works .carousel {
    /* Box-model */
    max-width: 70rem;
  }
}
/* contact */
.contact form {
  width: 90%;
  margin: 0 auto;
}

.form-list {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

.form-list li {
  margin-bottom: 2rem;
}

.form-list input,
.form-list textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  resize: vertical;
  /* Specify textarea resizability */
}

.form-list input[type=text],
.form-list input[type=email],
.form-list textarea {
  width: 100%;
  border: 1px solid #666;
  background: #fff;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* appearance:none; */
}

.form-list input[type=text],
.form-list input[type=email] {
  height: 50px;
}

.form-list textarea {
  height: 150px;
}

.form-list ::-webkit-input-placeholder {
  /* Edge */
  font-size: 1.4rem;
}
.form-list ::placeholder {
  font-size: 1.4rem;
}

.submit-btn {
  width: 152px;
  margin: 0 auto;
}

.submit-btn input[type=submit] {
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  padding: 1rem 2rem 1rem 2rem;
  width: 152px;
  margin: 0 auto;
  transition: all 0.3s;
}

.submit-btn input[type=submit]:hover {
  background-color: #333;
  color: #fff;
}

@media (min-width: 576px) {
  .contact .inner {
    padding-bottom: 14rem;
  }

  .form-list li:last-child {
    margin-bottom: 3rem;
  }
}
@media (min-width: 768px) {
  .contact .inner {
    padding-bottom: 16rem;
  }

  .form-list {
    max-width: 60rem;
  }
}
.footer {
  padding: 5rem 0;
  border-top: 1px solid #333;
  text-align: center;
  background-color: #fff;
}

.footer small {
  font-size: 1.4rem;
}

/*# sourceMappingURL=style.css.map */
